// ----------------------------------------------------------
// GLOBAL TOKENS
// ----------------------------------------------------------

body {
    --color-font-stacks-tech: var(--color-palette-3);
    --color-font-normal-letter: var(--color-palette-5);
    --background-color: var(--color-palette-1);
    --font-family: 'Arial';

    // Palette
    --color-palette-1: #01080E;
    --color-palette-2: #706F6F;
    --color-palette-3: #5EEAD4;
    --color-palette-4: #DBCBD8;
    --color-palette-5: #FEE1C7;
}