// ----------------------------------------------------------
// GLOBAL TOKENS
// ----------------------------------------------------------

body {
    --color-font-stacks-tech: var(--color-palette-2);
    --color-font-normal-letter: var(--color-palette-4);
    --background-color: var(--color-palette-0);
    --font-family: 'Arial';

    // viewports
    --viewport-mobile: 600px;
    --viewport-desktop: 1024px;
    --viewport-large-desktop: 1600px;
}