.mainSection {
    padding: 20vh 6rem 20vh 12rem;
    max-width: 1400px;
    margin: auto;
    gap: 35vh;
}

@media screen and (min-width: 1600px) {
    .mainSection {
        padding: 20vh 8rem;
    }
}

@media screen and (max-width: 1024px) {
    .mainSection {
        padding: 120px 3rem 120px 3rem;
        gap: 60px;
    }
}

@media screen and (max-width: 500px) {
    .mainSection {
        padding: 120px 30px 120px 30px;
        gap: 60px;
    }
}