.mainSection {
    padding: 20vh 6rem 20vh 12rem;
    max-width: 1400px;
    margin: auto;
    gap: 35vh;
}

@media screen and (min-width: 1600px) {
    .mainSection {
        padding: 20vh 8rem;
    }
}